<div class="row mt-5">
    <div class="col-md-6 m-auto">
      <div class="card card-body text-center">
        <img src="https://ideas.com/wp-content/uploads/2015/06/icon-glossary1.png">
        <p>Create an account or login</p>
        <a href="/user/register" class="btn btn-primary btn-block mb-2"
          >Register</a
        >
        <a href="/user/login" class="btn btn-secondary btn-block">Login</a>
      </div>
    </div>
  </div>
  